<h1>New Employee</h1>

<%= form_tag employees_path do %>
  <%= render 'form' %>

  <div class="d-flex mt-3">
    <%= submit_tag "Submit", class: 'btn btn-primary me-2' %>
    <%= render 'back_link' %>
  </div>
<% end %>
